.DS_Store

# Build output
/out
/bin
beast-source/
build-beast/
dist/
build-test/
test-reports/
target/
**/target/

# IntelliJ cruft
/.idea
*.iml

# Eclipse files
.classpath
.project
/build
/build-lib

# BEAST run output
*.log
*.trees
*.xml.state

# Package ZIPs
*.v*.zip
